<footer class="footer">
  <div class="footer__grid">
    <div class="footer__grid__row">
      <div class="footer__col footer__grid__col--links">
        <h3 class="footer__grid__title">Importante</h3>
        <ul class="footer__grid__list">
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Sobre proteção de dados</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div>
      <div class="footer__grid__col footer__grid__col--assets">
        <h3 class="footer__grid__title">Destaques</h3>
        <ul class="footer__grid__list">
          <li>NUDGES</li>
          <li>NAPNE</li>
          <li>CIDTS</li>
          <li>CERAMIÓ</li>
          </ul>
      </div>
      <div class="footer__grid__col footer__grid__col--dev">
        <h3 class="footer__grid__title">De dev pra dev</h3>
        <ul class="footer__grid__list">

<li><a href="#" target="_blank">Projeto de extensão desenvolvido para a disciplina de Programação Web 2</a></li>

          <li><a href="#" target="_blank">Colabore conosco</a></li>
          <li><a href="#">Termos de uso</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__grid__row">
      <div class="footer__grid__col footer__grid__col--contact">
        <h3 class="footer__grid__title">Endereço</h3>
        <p>Rodovia Presidente Juscelino Kubitschek<br/>BR-020, Km 209, s/n, bairro Anafuê<br/>CEP 63870-000, Boa Viagem, CE</p>
      </div>
      <div class="footer__grid__col footer__grid__col--social">
        <h3 class="footer__grid__title">Redes sociais</h3>
        <div class="footer__grid__icons">
          <a href="#" target="_blank">
            <i class="fa-brands fa-youtube"></i> <span>YouTube</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-instagram"></i> <span>Instagram</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-linkedin"></i> <span>LinkedIn</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-facebook"></i> <span>Facebook</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-tiktok"></i> <span>Tiktok</span>
          </a>
        </div>
        
      </div>
      <div class="footer__grid__col footer__col--essential">
        <h3 class="footer__grid__title">Essencial</h3>
        <p>
          &#64; Acadly
        </p>
        <p>
          Todos os direitos reservados
        </p>
        <p>
          v.1.0.0
        </p>
      </div>
    </div>
  </div>
</footer>
