<div class="container my-4">
  <div class="swiper-wrapper">
    <swiper-container
      [attr.slides-per-view]="3"
      [attr.space-between]="16"
      navigation="true"
      pagination='{"type": "progressbar"}'
      [attr.breakpoints]="breakpoints"
    >
      <swiper-slide *ngFor="let card of cards">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>