.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  label {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--font-family-primary);
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border-color: var(--tertiary-color);
      box-shadow: 0 0 0 3px rgba(var(--tertiary-color-rgb), 0.2); // Supondo que você tenha uma versão rgb da cor
    }

    &.invalid {
      border-color: #e53e3e; // Tom de vermelho para erros
    }
  }
}

.validation-error,
.server-error-message {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.server-error-message {
  text-align: center;
  background-color: rgba(229, 62, 62, 0.1);
  padding: 0.8rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 1rem;

  &:hover:not(:disabled) {
    background-color: var(--resources-color);
    color: var(--primary-color);
  }

  &:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
}
