@if (event$ | async; as event) {

  @if (event) {
    <div class="container">
      <div class="container__card">
        <div class="container__card-body">
          <div class="container__row">
            <div class="container__col container__col--image">
              <img ngSrc="assets/image.png" alt="Image" class="container__image" width="708" height="352">
            </div>

            <div class="container__col container__col--content">
              <h5 class="container__title">{{ event.name }}</h5>
              <p class="container__date text-muted">
                <small>De {{ event.initialDate }} até {{ event.finalDate }}</small>
              </p>
              <p class="container__subtitle">{{ event.description }}</p>
              <div class="container_button__area">
                <button class="container__button__area__btn"
                        [attr.aria-label]="'Cadastre sua presença no ' + event.name"
                        (click)="openParticipantModal()">
                  Cadastre sua presença
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="container container--empty">
      <h3>Nenhum evento ativo no momento.</h3>
      <p>Por favor, volte mais tarde para conferir as novidades!</p>
    </div>
  }
} @else {
  <div class="container container--loading">
    <p>Carregando informações do evento...</p>
  </div>
}

<app-modal></app-modal>
