<div class="list">
  <div class="carousel__container">
    <swiper-container
      [attr.slides-per-view]="isMobile ? 1 : 3"
      [attr.space-between]="isMobile ? 16 : 20"
      [attr.centered-slides]="isMobile"
      [attr.pagination]="isMobile ? 'true' : 'false'"
      [attr.navigation]="isMobile ? 'false' : '{ &quot;nextEl&quot;: &quot;.carousel__nav-next&quot;, &quot;prevEl&quot;: &quot;.carousel__nav-prev&quot; }'"
      [attr.breakpoints]="isMobile ? '{ &quot;640&quot;: { &quot;slidesPerView&quot;: 1.2 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 1.5 } }' : null"
    >
      @for (activity of activities.data; track activity.id) {
        <swiper-slide>
          <app-cards [activity]="activity" (click)="showDetails(activity)"></app-cards>
        </swiper-slide>
      }
    </swiper-container>

      <button class="carousel__nav-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>

      <button class="carousel__nav-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
  </div>
</div>

<app-activity-modal
  [isVisible]="isModalVisible"
  [activity]="selectedActivity"
  (closeModal)="hideDetails()">
</app-activity-modal>
