<<div class="management-page">
  <div class="page-header">
    <h2>Gerenciamento de Funcionários</h2>
    <button (click)="onAddEmployee()" class="add-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
      <span>Adicionar Funcionário</span>
    </button>
  </div>

  @if (employees$ | async; as employeesResult) {
    @if (employeesResult.data.length > 0) {
      <div class="events-grid">
        @for (employee of employeesResult.data; track employee.id) {
          <app-employee-admin-card
            [employee]="employee"
            (cardClick)="onEmployeeSelected($event)"
          ></app-employee-admin-card>
        }
      </div>
    } @else {
      <div class="empty-state">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
          <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
          <line x1="12" y1="22.08" x2="12" y2="12"></line>
        </svg>
        <h3>Nenhum funcionário cadastrado</h3>
        <p>Parece que não há nada aqui. Que tal cadastrar alguém para o check in?</p>
      </div>
    }
  } @else {
    <div class="loading-container">
      <div class="spinner"></div>
      <p>Buscando os funcionários...</p>
    </div>
  }

</div>

@if (isModalVisible) {
  <app-employee-modal-form
    [employee]="selectedEmployee"
    (close)="closeModal()"
    (save)="saveEmployee($event)"
  ></app-employee-modal-form>
}

